@using TicketSystem.Web.Models;
@model IEnumerable<ListAllTicketsViewModel>

@{
    ViewBag.Title = "Tickets List";
}

<h2>@ViewBag.Title</h2>

<div>
    Search by category
</div>
@using (Html.BeginForm("TicketsByCategory", "Tickets", FormMethod.Post))
{
    @(Html.Kendo()
                .DropDownList()
                .Name("category")
                .DataTextField("Name")
                .DataValueField("Id")
                .OptionLabel("All")
                .DataSource(data =>
                {
                    data.Read(read => read.Action("GetCategories", "Tickets"));
                    data.ServerFiltering(true);
                }))

    <div>
        <input type="submit" value="Search" class="btn" />
    </div>
}

<div class="row-fluid">
    <div class="span3">
        <h3>Title</h3>
    </div>
    <div class="span3">
        <h3>Category</h3>
    </div>
    <div class="span2">
        <h3>Author</h3>
    </div>
    <div class="span2">
        <h3>Priority</h3>
    </div>
    <div class="span2">
        <h3>Command</h3>
    </div>
</div>

@(Html.Kendo()
    .ListView<ListAllTicketsViewModel>()
    .Name("tickets")
    .TagName("div")
    .ClientTemplateId("ticket-template")
    .Pageable()
    .BindTo(Model))

<script id="ticket-template" type="text/x-kendo-template">
    <div class="row-fluid">
        <div class="span3">
            <p>#: Title #</p>
        </div>
        <div class="span3">
            <p>#: CategoryName #</p>
        </div>
        <div class="span2">
            <p>#: AuthorName #</p>
        </div>
        <div class="span2">
            <p>#: PriorityAsString #</p>
        </div>
        <div class="span2">
            <p><a href="/Tickets/Details/#: Id #" class="btn">Details</a></p>
        </div>

    </div>
</script>