@model TicketSystem.Web.Models.CommentViewModel

@{
    ViewBag.Title = "Comments";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
    .Grid<TicketSystem.Web.Models.CommentViewModel>()
    .Name("grid-comments")
    .Columns(columns =>
    {
        columns.Bound(model => model.Content);
        columns.Bound(model => model.AuthorName);
        columns.Bound(model => model.TicketTitle);
        columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
            }).Title("Commands");
    })
    .Pageable(page =>
        {
            page.PreviousNext(true);
            page.Numeric(true);
        })
    .Sortable(sort =>
        {
            sort.AllowUnsort(false);
            sort.SortMode(GridSortMode.SingleColumn);
        })
    .Groupable()
    .Filterable()
    .Resizable(resize => resize.Columns(true))
    .Navigatable()
    .Editable(edit =>
        {
            edit.Mode(GridEditMode.InLine);
        })
    .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
    .Events(ev =>
        {
            ev.Change("selectRow");
        })
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(b => b.Id))
            .PageSize(10)
            .ServerOperation(true)
            .Events(ev => ev.Error("errorAlert"))
            .Read("ReadComments", "Comments").Model(model => 
                {
                    model.Id(t => t.Id);
                    model.Field(t => t.Id).Editable(false);
                    model.Field(t => t.AuthorName).Editable(false);
                    model.Field(t => t.TicketTitle).Editable(false); 
                })
            .Update("UpdateComment", "Comments")
            .Destroy("DeleteComment", "Comments");
    }))

<script>
    function selectRow() {
        var selected = $.map(this.select(), function (item) {
            return $(item).text();
        });

        $('#selected').text(selected);
    }

    function errorAlert(e) {
        console.log(e.message);
    }
</script>