@model TicketSystem.Web.Models.CategoryViewModel

@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
    .Grid<TicketSystem.Models.Category>()
    .Name("grid-categories")
    .Columns(columns =>
    {
        columns.Bound(model => model.Name);
        columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
            });
    })
    .ToolBar(tool =>
        {
            tool.Create();
        })
    .Pageable(page =>
        {
            page.PreviousNext(true);
            page.Numeric(true);
        })
    .Sortable(sort =>
        {
            sort.AllowUnsort(false);
            sort.SortMode(GridSortMode.SingleColumn);
        })
    .Groupable()
    .Filterable()
    .Resizable(resize => resize.Columns(true))
    .Navigatable()
    .Editable(edit =>
        {
            edit.Mode(GridEditMode.PopUp);
        })
    .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
    .Events(ev =>
        {
            ev.Change("selectRow");
        })
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(b => b.Id))
            .PageSize(10)
            .ServerOperation(true)
            .Events(ev => ev.Error("errorAlert"))
            .Create("CreateCategory", "Categories")
            .Read("ReadCategories", "Categories")
            .Update("UpdateCategory", "Categories")
            .Destroy("DeleteCategory", "Categories");
    }))

<script>
    function selectRow() {
        var selected = $.map(this.select(), function (item) {
            return $(item).text();
        });

        $('#selected').text(selected);
    }

    function errorAlert() {
        console.log("An error ocurred");
    }
</script>

